.nav-bar{
    border-bottom: 1px solid #ededed;
    height: 4vh;
    width: 100vw;
}

.container1 {
	margin: 0 7vw;
}

.iconsBtn {
	border: none;
	background: white;
	padding: 10px 10px;
	margin-right: 5px;
}

.iconsBtn:hover {
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
}

.menu-image,
.search-image {
	height: 16px;
	width: 16px;
}

.logo-image{
    height: 20px;
    padding: 0 11vw 0 25vw;
    margin-right: 3vw;
}

.btnSubLog {
	border-radius: 5px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.02em;
    height: 32px;
    border: 1px solid #949494;
}

.btnSubLog:hover {
	background: rgba(27, 68, 97, 0.9);
}

.fontReset {
	text-decoration: none;
	color: black;
}

.font1 {
	font-weight: 700;
}

.lower-nav-bar{
    border-top: 1px solid black;
    position: fixed;
    height: 60px;
    width: 100vw;
    bottom: 0;
}

.lower-nav-text{
    position: absolute;
    width:100vw;
    text-align: center;
    bottom: 20px;
}
.expand-text{
    position: absolute;
    right: 10vw;
    bottom: 20px;
}

.expand-icon{
    position:absolute;
    right: 5vw;
    bottom: 20px;
    transform: rotate(-90deg);
}