.nav-bar{
	position: fixed;
    border-bottom: 1px solid #ededed;
    height: 4vh;
    width: 100vw;
    background: white;
    z-index: 99999;
}

.container1 {
	margin: 0 0 0 7vw;
}

.iconsBtn {
	border: none;
	background: white;
	padding: 10px 10px;
	margin-right: 5px;
}

.iconsBtn:hover {
	background: rgba(0,0,0,0.1);
	border-radius: 5px;
}

.menu-image,
.search-image {
	height: 16px;
	width: 16px;
}

.logo-image{
    height: 20px;
    padding: 0 11vw 0 25vw;
    margin-right: 3vw;
}

.topNavbtn {
	position: absolute;
	top: 4px;
	right: 8vw;
}

/*.topNavbtn2 {
	position: absolute;
	top: 4px;
	right: 5vw;
}
*/
.btnSubLog {
	border-radius: 5px;
    cursor: pointer;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    transition: ease 0.6s;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #567b95;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.02em;
    height: 32px;
    border: 1px solid #949494;
}

.btnSubLog:hover {
	background: rgba(27, 68, 97, 0.9);
}

.fontReset {
	text-decoration: none;
	color: black;
}

.font1 {
	font-weight: 700;
}

.lower-nav-bar{
    border-top: 1px solid black;
    position: fixed;
    height: 60px;
    width: 100vw;
    bottom: 0;
    background: white;
    z-index: 99999;
}

.lower-nav-text{
    position: absolute;
    width:100vw;
    text-align: center;
    bottom: 20px;
}
.expand-text{
    position: absolute;
    right: 10vw;
    bottom: 20px;
}

.expand-icon{
    position:absolute;
    right: 5vw;
    bottom: 20px;
    transform: rotate(-90deg);
}

h1 {
	position: absolute;
	top: 10vh;
	right: 10px;
	width: 100vw;
	text-align: center;
	margin: auto;
}

h3 {
	position: absolute;
	top: 15vh;
	width: 100vw;
	text-align: center;
	margin: auto;
}

h1, h3 {
	font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
	font-size: 2em;
    font-weight: bold;
}

.articleLayout {
	padding-top: 20vh;
	margin: auto;
	width: 65vw;
}

.headerImg { 
	width: 65vw;
	margin: auto;
}

.mainImgDesc {
	font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
}

.mainImgDesc span {
	font-size: 0.75rem;
	color: #888;
}








footer {
	margin-bottom: 60px;
}